[Desktop Entry]
Version=0.17.6
Name=BCS Core
Comment=Connect to the BCS P2P Network
Exec=bcs-qt %u
Terminal=false
Type=Application
Icon=bcs128
MimeType=x-scheme-handler/bcs;
Categories=Network;
StartupWMClass=BCS-qt
Name[en_US]=bcs-qt
