[Desktop Entry]
Version=0.17.6
Name=BCS Core Testnet
Comment=Connect to the BCS P2P Network Testnet
Exec=bcs-qt -testnet %u
Terminal=false
Type=Application
Icon=bcstestnet128
MimeType=x-scheme-handler/bcs;
Categories=Network;
StartupWMClass=BCS-qt-testnet
Name[en_US]=bcs-qt-testnet
